@import '~/assets/styles/variables.scss';

.SortElement {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  p {
    color: $color-light-grey;
    padding: 0 0.1em;
    white-space: nowrap;
  }

  .dropdown {
    font-size: 1em;
    width: 12em;    
  }
}
