@import '~/assets/styles/variables.scss';

.FormField {
  color: $color-white;
  text-align: left;
  width: 100%;
  padding: 10px 0;

  label {
    color: $color-pink;
    text-transform: uppercase;
  }

  input {
    width: 100%;
    font-size: 1.2em;
    border-style: solid;
    background-color: $color-grey;
    color: $color-white;
    border-radius: 4px;
    box-shadow: none;

    &:read-only {
      border: none;
      outline: none;
      background-color: rgba($color-grey, 0);
    }
  }

  textarea {
    background-color: $color-grey;
    width: 100%;
    font-size: 0.8em;
    font-weight: 200;
    min-height: 40px;
    resize: vertical;
    color: $color-white;
    border-style: solid;
    border-radius: 4px;
  }

  .selectWrapper {
    color: $color-dark-grey;
  }  
}
