@import './variables.scss';
@import './fonts.scss';

html {
  background-color: black;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: $primary-font;
  text-align: center;
  color: $color-light-grey;
  font-size: 20px;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.mainContainer {
  .headerContainer {
    margin-bottom: 20px;
  }
  .container {
    background-color: $color-dark-grey;
  }
}

h1 {
  color: $color-pink;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  color: $color-white;
  background-color: $color-pink;
  padding: 10px;
  outline: none;

  &:hover {
    color: $color-white;
    background-color: $color-light-grey;
  }
}

.hidden {
  display: none;
}

.errorContainer {
  height: 25px;
}

.error {
  color: $error-text-color;
  font-weight: 200;
  font-size: 0.7em;
  margin: 0;
}

.fieldInvalid {
  background-color: $error-background-color !important;
  border: 1px $error-border-color solid;
}
