$color-pink: #f65261;
$color-dark-grey: #232323;
$color-grey: #424242;
$color-light-grey: #555555;
$color-white: #ffffff;

$error-text-color: red;

$primary-font: "Lato-Bold";
$regular-font: "Lato-Regular";
