.AddMovieModal {
  font-size: 1em;

  .buttonsContainer {
    text-align: right;    
  }

  button {
    margin: 5px;
    &[disabled] {
      background-color: black;      
      cursor: default;
    }
  }
}
